.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2vw;
  flex-direction: column;
  .points {
    display: flex;
    gap: 2em;
  }
  .points,
  .point {
    padding-bottom: 1rem;
  }
  .point {
    font-size: 1rem;
  }
  .box {
    border-radius: 15px;

    width: 90vw;
    height: 90vh;

    .players {
      margin: 1vh;
    }
    .n1,
    .n2,
    .n3,
    .n4 {
      display: flex;
      flex-direction: column;
      position: absolute;
    }
    .n1 {
      left: 35vw;
    }
    .n2 {
      top: 40vh;
      transform: rotate(90deg);
    }
    .n3 {
      top: 70vh;
      left: 35vw;
    }
    .n4 {
      top: 40vh;
      left: 70vw;
      transform: rotate(-90deg);
    }

    .player {
      border: 0;
      margin: 1vw;
      padding: 2vh;
    }
    .b-group {
      position: absolute;
      bottom: 0;
      right: 0;
      .b {
        margin: 1rem;
      }
    }
  }
}

.card {
  width: 6vw;
  // height: 12vh;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.xsCard {
  width: 15vw;
}
.played {
  position: absolute;
  transition: 0.2s;
}

.played:focus-within ~ .played,
.played:hover ~ .played {
  transform: translateX(2vw);
}

.played:hover {
  transform: translateY(-1rem);
}

.played:not(:first-child) {
  margin-left: -2vw;
}

.playedTop {
  top: 32vh;
}
.playedLeft {
  left: 27vw;
  transform: rotate(90deg);
}
.playedRight {
  left: 58vw;
  transform: rotate(-90deg);
}
.playedBottom {
  top: 53vh;
}
.turnLabel {
  position: absolute;
  bottom: 6vh;
  left: 13vw;
}
.playercard1 {
  left: 40vw;
}
.playercard2 {
  left: 43vw;
}
.playercard3 {
  left: 46vw;
}

.playercardSide1 {
  top: 37vh;
}
.playercardSide2 {
  top: 40vh;
}
.playercardSide3 {
  top: 43vh;
}
