/* You can add global styles to this file, and also import other style files */
html,
body,
app-root,
app-root > * > div {
  height: 100%;
  width: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
app-root {
  margin: 0;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Montserrat-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bk-image.png");
}
.btn {
  width: 23em;
  height: 4.5em;
  color: white;
  background: #767bff;
  border-radius: 1.3em;
  cursor: pointer;
}
.btn:disabled {
  background-color: #bbbde3 !important;
}
.btn:hover,
.btn:focus {
  background-color: #474eff;
}
